<div class="container d-flex justify-content-center">
  <div class="mt-5">

<h1>Order of Customer {{id}}</h1>

<table border = "1" style="border-collapse: collapse;">

  <tr>
    <th>ID</th>
    <th>Total Quantity</th>
    <th>Total Price</th>
    <th>Date Creatd</th>
    <th>Order Item</th>
    <th>Delete-Edit</th>
    <th>Delete Many</th>
  </tr>

   <tr *ngFor="let l of listOrder | sort:'id'">
      <td style="min-width: 50px;">{{l.id}}</td>
      <td style="min-width: 100px;">{{l.totalQuantity}}</td>
      <td style="min-width: 100px;">{{l.totalPrice}}</td>
      <td style="min-width: 100px;">{{l.dateCreated}}</td>
      <!-- <td style="min-width: 100px;">{{l.customerId}}</td> -->
    <td><button class="btn btn-info" mat-button (click)="showOrderItem(l.id)">Show Orders Items</button></td>
    <!-- <td><img src="{{ l.avatar }}" alt="Avatar" width="100" height="80"></td> -->
    <!-- <td>{{l.date}}</td> -->
    <td>
      <button class = "btn btn-secondary me-1" (click)="updateOrderItem(id,l,l.id)">Update</button>
      <button class = "btn btn-danger" (click)="deleteOrder(l.id)">Delete</button>
    </td>
    <td><input type="checkbox" (change)="toggleOrderSelection(l)" ></td>
  </tr>

  <tr>
    <td [colSpan]="6" style="border:none"></td>
    <button class="btn btn-danger" (click)="deleteSelectedOrder()" [disabled]="selectedOrder.length === 0" >Delete Selected</button>
  </tr>
</table>

<button class="btn btn-success" (click)="addOrder()">Add Order</button>
<br>
</div>
</div>

